
:root {
  --white: #FFFFFF;
  --lightgray:#F7F7F7;
  --mediumgray: #e5e5e5;
  --gray: #747678;
  --darkgray: #26292c;
  --green: #08A742;

}

body{
  color: var(--darkgray);
  line-height: 20px;
  background: var(--white);
}
.app{
  padding:2rem;
  max-width: 600px;
}

.mainTitle{
  font-weight: 600;
  font-size: 18px;
  padding: 1rem;
  border-bottom: 1px solid var(--mediumgray);
  margin: 0 0 1rem 0;
}

.personTab{
  display: grid;
  grid-template-columns: auto 35px;
  border: 1px solid var(--mediumgray);
  cursor: pointer;
  padding: 0.75rem 0.75rem 0.75rem 1.2rem;
  margin: 0.5rem;
  border-radius: 3px;
}

.name{
  font-size: 16px;
  font-weight: 600;
}
.info .organization{
  font-weight: 300;
  font-size: 12px;
  color: #747678;
  display: flex;
}

.orgLogo{
  height:16px;
  fill: var(--grayi);
  padding: 1px 5px 0px 0;
}

ul {
  list-style-type: none;
}

.profilePic img{
  height: 35px;
  border-radius: 50%;
}

.show{
  display: block;
}

.hide{
  display: none;
}



